.modal_container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1000; 
  background-color: rgba(0, 0, 0, 0.5); 
  display: flex;
  justify-content: center;
  align-items: center;
}
  
.modal {
  background-color: white;
  border-radius: .5rem;
  height: fit-content;
  max-height: 90vh;
  width: 38rem;
  display: flex;
  flex-direction: column;
  row-gap: 1.5rem;
  padding: 2rem;
}

.modalTitle {
  font-weight: bold;
  font-size: 1.5rem;
}